body {
  background-image: url("img/bg.jpg");
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 0;
  left: 35%;
}
#new {
  background-color: #55aaaa;
  border-style: solid;
  border-size: 4px;
  width: 25vw;
}
#card_image {
  margin: 25px;
  width: 40vw;
}
#cardbox {
  border: 2px solid black;
  width: 25vw;
  margin-top: 5px;
  padding: 7px;
  font-weight: bold;
  font-size: 200%;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
footer {
  margin: 15px 0 15px 0;
}

textarea {
  width: 100%;
 
}
textarea:focus{
	background-color: yellow;
}

input[type=text]{
	
    color: brown;
	width: 100%;
}
input[type=text]:focus {
    background-color: lightblue;
}